body {
    background-color: rgb(14, 110, 139);
  }
h1 {
    text-align: center;
  }
h2 {
    text-align: center;
  }
h3 {
    text-align: center;
  }
p {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }
form {
    text-align: center;
  }