body {
    background-color: rgb(14, 110, 139);
  }
h1 {
    text-align: center;
  }
h2 {
    text-align: center;
  }
h3 {
    text-align: center;
  }
p {
    text-align: center;

  }
form {
    text-align: center;
  }
  .nav {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    background-color: rgb(187, 138, 32); 
    border: 3px solid rgb(190, 54, 5); 
  }